In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("mascot_ranking.csv")

In [3]:
data.head()

   Q2    Q3    Q4    Q5    Q6
0  27  13.0  41.0   5.0  40.0
1   7  35.0  20.0  29.0  12.0
2  29  35.0  12.0  34.0  23.0
3   2  18.0  30.0  16.0  31.0
4  14  24.0  17.0   2.0  25.0